<p id="notice"><%= notice %></p>

<h2>
    <strong>
        <%=link_to @tag.category.name, @category %>
    </strong>
</h2>

<h3>
    <%= render partial: 'tag', collection: @category.tags, locals: {category_id: params[:category_id]} %>
</h3>

<%= will_paginate @product_tags %>
<%= render 'isale/products/table'  %>
<%= will_paginate @product_tags %>
