<p id="notice"><%= notice %></p>

<h2>
    <strong>
        <%= @tag.category.name %>
    </strong>
</h2>

<h3>
    <%= @tag.name %>
    <%= render @tag.category.tags %>
</h3>

<%= will_paginate @product_tags %>
<%= render 'isale/products/table'  %>
<%= will_paginate @product_tags %>
