<% content_for :tools do %>
    <%=link_icon "plus-square", t('Add'), new_user_path %>
<% end %>

<p id="notice"><%= notice %></p>

<table class="table table-hover table-dark">
  <thead>
    <tr>
      <th>帐号</th>
      <th>权限</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.role %></td>
        <td>
            <%= link_to t('Edit'), edit_user_path(user) %>
            <%= link_to t('Destroy'), user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
