<%= form_with(model: category, local: true) do |form| %>

    <% if category.errors.any? %>
        <div class="alert alert-warning alert-dismissible fade show" role="alert">

            <h4 class="alert-heading">
                <%= t 'Error' %>
            </h4>
            <% category.errors.full_messages.each do |message| %>
                <p><%= message %></p>
            <% end %>
        </div>
  <% end %>

  <div class="input-group mb-3">
      <div class="input-group-prepend">
          <%= form.label :name, class: "input-group-text"  %>
      </div>
      <%= form.text_field :name, class: "form-control" %>
  </div>


  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
