<% content_for :tools do %>
    <%= render 'tools'  %>
<% end %>

<% content_for :notice do %>
    <p><%= notice %></p>
<% end %>

<table class="table table-hover table-dark">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th>名称</th>
            <th>产品数量</th>
            <th>#</th>
        </tr>
    </thead>

    <tbody>
        <% @categories.each do |category| %>
            <tr>
                <th scope="row">
                    <%= category.id %>
                </th>
                <td><%= category.name %></td>
                <td>
                    <%= category.products.size %>
                </td>
                <td><%= link_to t('Show'), category %></td>
                <!-- <td><%= link_to 'Destroy', category, method: :delete, data: { confirm: 'Are you sure?' } %></td> -->
            </tr>
        <% end %>
    </tbody>
</table>

<br>
