<% content_for :tools do %>
    <%= render 'tools' %>
    <div class="btn-group mr-2">
        <%= link_icon('edit', t('Edit'), edit_category_path(@category)) %>
    </div>
<% end %>

<% content_for :notice do %>
    <p><%= notice %></p>
<% end %>

<h3>
    <%= @category.name %>
</h3>
<div class="container">
    <%= render @category.tags %>
    <%= render 'add_tag_form' %>
</div>

<%= will_paginate @products %>
<div class="card-columns text-center">
    <%= render @products  %>
</div>
<%= will_paginate @products %>
