<% content_for :tools do %>
    <%=link_icon "plus-square", t('Add'), new_contry_path %>
<% end %>
<p id="notice"><%= notice %></p>

    <table class="table table-hover table-dark">
  <thead>
    <tr>
        <th scope="col">#</th>
        <th>名称</th>
        <th>产品数量</th>
    </tr>
  </thead>

  <tbody>
    <% @contries.each do |contry| %>
      <tr>
          <th scope="row">
              <%= contry.id %>
          </th>
          <td><%= link_to contry.name, contry %></td>
          <td>
              <%= contry.products.size %>
          </td>
      </tr>
    <% end %>
  </tbody>
</table>
